:root {
    /* Colors */
    --text: #0b1816;
    --background: #fcfdfd;
    --primary: #c39d3c;
    --secondary: #e3c687;
    --tertiary: #f3e6c7;
    --accent: #e3c163;
    --special: #f38d2c;

    /* Font */
    --font: 'Noto Sans', sans-serif;

    /* Shadows */
    --lg-shadow: 4px 4px 10px var(--text);
    --sm-shadow: 2px 2px 5px var(--text);
    --hd-shadow: 4px 1px 10px var(--text);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--text);
    background-image: url(images/hex.png);
    background-size: 50px;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--font);
    background-color: var(--background);
    color: var(--text);
    border: 4px solid var(--primary);
    box-shadow: var(--lg-shadow);
}

/* Header */
header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 0 1rem;
    box-shadow: var(--hd-shadow);
}

header h1 a {
    text-decoration: none;
    color: var(--text);
}

header h1 a:hover {
    color: var(--primary);
}

header h1 a:focus {
    outline: 2px solid var(--primary);
}

/* Navigation */
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--secondary);
    background-color: var(--text);
    border-radius: 8px;
    box-shadow: var(--lg-shadow);
}

nav a:hover {
    color: var(--text);
    background-color: var(--secondary);
    box-shadow: var(--sm-shadow);
}

nav a:focus {
    outline: 2px solid var(--primary);
}

/* Main */
main {
    padding: 1rem;
}

main a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--text);
    border-radius: 8px;
    padding: 0 0.5rem;
}

main a:hover {
    color: var(--text);
    background-color: var(--secondary);
}

main a:focus {
    outline: 2px solid var(--primary);
}

p {
    max-width: 55ch;
}

img {
    display: block;
}

video {
    display: block;
}

/* Home Page */
#home-intro {
    padding: 2rem;
    z-index: 1;
    position: relative;
    padding: 0 1rem;
}

#home-intro h2 {
    font-size: 3rem;
    position: absolute;
    top: 100px;
    padding-right: 6.8rem;
    padding-left: 1rem;
}

#home-intro p {
    font-size: 1.5rem;
    width: 25ch;
    position: absolute;
    top: 200px;
    padding-left: 1rem;
}

#intro-back {
    position: absolute;
    background-image: url(images/square.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 10px;
    transform: scale(1.2);
    top: 150px;
    left: 45px;
    width: 280px;
    height: 200px;
    z-index: -1;
}

#home-hero {
    min-height: 65vh;
    background-image: url(images/three.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Home Showcase Section */
#homeshowcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-top: 4px solid var(--primary);
    padding-top: 0;
}

#homeshowcase > h2, #homeshowcase > p {
    grid-column: 1/-1;
    margin: auto;
    padding: 1rem;
}

#homeshowcase h3 {
    padding-bottom: 0;
    padding-left: 1rem;
    margin-bottom: 0;
}

.showcase-item video{
    max-width: 100%;
    margin: 1rem auto;
    padding: 0 1rem;    
}

.showcase-item img{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;    
}

.showcase-item p {
    padding-top: 0;
    padding-left: 1rem;
}

/* Back to Top Button */
#btt {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem
}

/* Contact Form */
#form {
    background-color: var(--tertiary);
    border-radius: 8px;
}

#form > h2, #form > p {
    width: 100%;
    margin: 16px auto;
    text-align: center;
}

#form > h2 {
    padding-top: 16px;
}

form { 
    width: 350px;
    margin: 16px auto;
    padding: 16px;
}

label, input, textarea {
    display: block;
    width: 100%;
}

label {
    padding-left: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--text);
    border-radius: 4px;
}

input:invalid, textarea:invalid {
    border: 4px solid var(--special);
    box-shadow: var(--lg-shadow);
}

input:focus, textarea:focus {
    outline: 2px solid var(--text);
}

input[type=submit] {
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--text);
    border-radius: 8px;
    box-shadow: var(--lg-shadow);
}

input[type=submit]:hover {
    color: var(--text);
    background-color: var(--secondary);
    border-color: var(--secondary);
    box-shadow: var(--sm-shadow);
}

input[type=submit]:focus {
    outline: 2px solid var(--primary);
}

.required {
    font-weight: bold;
    color: var(--special);
    /* text-shadow: var(--sm-shadow); */
}

/* Footer */
footer {
    padding: 0 0.9rem;
    text-align: center;
}

footer h2 {
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--text);
    padding: 0 1rem;
}

footer a:visited {
    color: var(--primary);
}

footer a:hover {
    border-bottom: 2px solid var(--primary);
}

footer a:focus {
    outline: 2px solid var(--primary);
}

footer p {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    margin: auto;
    padding: 1rem;
}


